<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <title>The Thought Police - US - A - Lightbringer</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
                <h4 class="masthead-brand">The Thought Police - US - A - Lightbringer</h4>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/guild">Home</a></li>
                  <li class="active"><a href="">Info</a></li>
                  <li><a href="/guild/apply">Apply</a></li>
                  <li><a href="https://forum.jjhsk.com">Forum</a></li>
                  <li><a href="/bb.html"><img src="/static/whiteeye.png" alt="The Thought Police" style="width:25px;height:25px;"></a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div>
              <h1>The Thought Police</h1>
            <p class="lead">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet ornare est, vel viverra lectus. Suspendisse rutrum sapien eget quam vulputate, ac feugiat nunc hendrerit. Vivamus arcu ipsum, lacinia ut leo vel, imperdiet laoreet arcu. Ut id enim facilisis, euismod sem non, porttitor magna. In vulputate neque ut augue fermentum, non pharetra urna tempor. Aenean sed lacus metus. Nullam vestibulum nunc quis nibh aliquam mollis. Donec viverra tellus non eros venenatis venenatis.

Aliquam ac sem a mauris eleifend viverra. Integer scelerisque, sapien in suscipit euismod, purus elit vehicula justo, ac fringilla elit elit nec diam. Pellentesque tempor pretium ex id vulputate. Quisque in turpis eu leo pretium consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt tempor augue, et venenatis leo malesuada nec. Vivamus at urna nec ex vulputate blandit. Nullam mollis feugiat augue, et imperdiet nibh suscipit eu. Pellentesque at finibus dolor, ut lobortis massa. Praesent dignissim nisi vitae lobortis efficitur. Aliquam porttitor magna libero, nec tempor sem commodo ac. Aenean nec mauris leo. Suspendisse accumsan tellus in dolor pellentesque faucibus. Mauris semper mauris sed mollis lacinia. Aliquam id turpis consequat, eleifend arcu blandit, ultricies nunc.

Maecenas ultrices diam vel eros ultrices finibus. Maecenas vehicula nulla vitae dui maximus, quis laoreet nunc malesuada. Quisque odio urna, consectetur eu vulputate ut, tempor ut felis. In a felis vel nibh commodo volutpat. Mauris tristique tristique eros et posuere. Mauris aliquet tempus vestibulum. Donec molestie lacus nec ligula egestas convallis. Nullam faucibus efficitur justo, vitae tincidunt mi. In accumsan nisl in tempor interdum. Sed maximus libero ut lectus rhoncus ultrices vel sit amet lorem. Pellentesque vestibulum lacus ac arcu ultrices pretium. Proin non aliquam quam, in vestibulum velit. Integer dictum nulla lectus, sit amet hendrerit arcu volutpat sit amet. In sed dapibus nibh, eget ultrices neque. Proin eu elit convallis, ullamcorper massa sed, congue tellus. Sed dapibus, elit a blandit vulputate, ex nisi cursus sapien, et porttitor nisl arcu nec magna.

Nullam at eleifend metus. Proin lacinia eros tortor, ac maximus risus malesuada a. Etiam eget rhoncus sapien. In porttitor maximus dui et ultrices. Pellentesque ut nibh pulvinar mi pellentesque vestibulum. Quisque suscipit neque quis arcu malesuada aliquam. Sed sit amet laoreet eros. Vestibulum eu justo nec eros volutpat ultricies sed sed diam. Quisque vehicula magna vel justo tempor, quis tincidunt mi dapibus. In sollicitudin quam ut suscipit venenatis. Ut volutpat eleifend nibh, sed mattis elit euismod et. Nunc interdum nulla sed risus fringilla commodo. Duis eu ultrices massa.

Phasellus magna nibh, tincidunt eget bibendum at, egestas ut odio. Curabitur posuere in risus vel commodo. Phasellus consectetur id velit pharetra vestibulum. Proin blandit massa magna, hendrerit malesuada justo tincidunt at. Vestibulum et aliquet ipsum. Donec tellus eros, venenatis pharetra aliquam sit amet, hendrerit id purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            <p class="lead">
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
            </div>
          </div>

        </div>

      </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
